<div
  *ngIf="isShow"
  class="h-full w-full fixed z-2 background-green flex flex-column justify-content-center align-items-center">
  <img
    ngSrc="assets/lonely-planet/lonely-planet.svg"
    alt="Lonely Planet logo"
    height="40"
    width="321" />
  <span class="mt-2 text-2xl text-white font-medium letter-spacing"
    >présente</span
  >
  <img
    class="mt-4"
    ngSrc="assets/green-and-broke.png"
    alt="Green and Broke logo"
    height="42"
    width="320"
    priority />
  <p-progressSpinner
    styleClass="mt-4 w-2rem h-2rem text-white"
    strokeWidth="5"></p-progressSpinner>
</div>
