<div
  class="flex flex-column overflow-y-hidden"
  *ngIf="selectedTrip$ | async as selectedTrip">
  <div
    class="py-4 background-green text-white text-xl flex flex-row justify-content-center">
    Réservation confirmée !
  </div>

  <div class="px-3 pt-3 flex flex-column gap-1">
    <span class="font-semibold"> Résumé de votre réservation : </span>

    <div class="card-border-price my-1 flex flex-row justify-content-between">
      <div class="flex flex-column gap-2-5">
        <div class="flex flex-column gap-1">
          <span class="flex flex-row align-items-center text-sm">
            <span class="font-semibold mr-2">
              {{ selectedTrip.date.substring(0, 7) }} :
            </span>
            {{ selectedTrip.departureInfo.time }}
            <img
              class="mb-0-5 mx-1"
              src="assets/icons/arrow/large-arrow-right.svg"
              alt="Right arrow"
              width="15" />
            {{ selectedTrip.arrivalInfo.time }}
            <img
              class="ml-3"
              [ngSrc]="'assets/transports/' + selectedTrip.transport + '.svg'"
              [alt]="selectedTrip.transport"
              width="20"
              height="18" />
          </span>

          <span>
            {{ selectedTrip.departureInfo.city }}
            <img
              class="mx-1 mb-0-5"
              src="assets/icons/arrow/large-arrow-right.svg"
              alt="Right arrow"
              width="15" />
            {{ selectedTrip.arrivalInfo.city }}
          </span>
        </div>

        <div class="flex flex-column gap-1">
          <span class="flex flex-row align-items-center text-sm">
            <span class="font-semibold mr-2"> 02 juil. : </span>
            12:56
            <img
              class="mb-0-5 mx-1"
              src="assets/icons/arrow/large-arrow-right.svg"
              alt="Right arrow"
              width="15" />
            14:29
            <img
              class="ml-3"
              [ngSrc]="'assets/transports/' + selectedTrip.transport + '.svg'"
              [alt]="selectedTrip.transport"
              width="20"
              height="18" />
          </span>
          <span>
            {{ selectedTrip.arrivalInfo.city }}
            <img
              class="mx-1 mb-0-5"
              src="assets/icons/arrow/large-arrow-right.svg"
              alt="Right arrow"
              width="15" />
            {{ selectedTrip.departureInfo.city }}
          </span>
        </div>
      </div>

      <div class="flex flex-column justify-content-between">
        <div
          class="flex flex-column gap-2 flex-1"
          [ngClass]="
            selectedTrip.transport !== 'train' ? 'justify-content-center' : null
          ">
          <span
            *ngIf="selectedTrip.transport === 'train'"
            class="flex flex-row justify-content-end">
            <img src="assets/sponsors/hourrail.svg" alt="Hourrail" width="65" />
          </span>
          <div
            class="flex flex-row align-items-center justify-content-center gap-0-5 mb-2"
            *ngIf="travelers$ | async as travelers">
            <img src="assets/icons/profile.svg" alt="Profile" height="25" />
            <span class="font-semibold text-sm">x{{ travelers }}</span>
          </div>
        </div>
        <span class="font-semibold text-green text-xs">
          {{ selectedTrip.carbonImpact | number: '1.2-2' }} kg de CO<sub>2</sub>
        </span>
      </div>
    </div>

    <div class="flex flex-row justify-content-between">
      <span class="font-semibold"> Montant total :</span>
      <span>{{ selectedTrip.price }}€</span>
    </div>

    <span class="font-semibold text-xl align-self-center mt-3">
      Votre commande a été validée !
    </span>

    <p-divider
      class="-my-2-5 w-10 align-self-center text-green z-neg-1"></p-divider>

    <div
      class="card-border-price my-1 pr-3 flex flex-row justify-content-between align-items-center">
      <span class="font-semibold">Télécharger la facture</span>
      <i class="pi pi-download text-xl"></i>
    </div>

    <div
      class="card-border-price my-1 pr-3 flex flex-row justify-content-between align-items-center">
      <span class="font-semibold">Télécharger les billets</span>
      <i class="pi pi-download text-xl"></i>
    </div>

    <div
      class="card-border-price my-1 pr-3 flex flex-row justify-content-between align-items-center"
      (click)="onClickTricount()">
      <span class="font-semibold">Partager la facture</span>
      <img src="assets/sponsors/tricount.png" alt="Tricount logo" height="18" />
    </div>

    <div
      class="card-border-price my-1 pr-3 flex flex-row justify-content-between align-items-center"
      (click)="onClickGreenTripper()">
      <span class="font-semibold">Participez à un projet</span>
      <img
        src="assets/sponsors/green-tripper.png"
        alt="Tricount logo"
        height="17" />
    </div>

    <button class="btn-primary-small align-self-center mt-5" (click)="goHome()">
      Retourner au menu
    </button>
  </div>
</div>
