<footer
  class="background-green footer flex flex-row justify-content-between p-3 w-full">
  <img
    ngSrc="../../../../assets/footer/price.svg"
    alt="Price logo"
    height="50"
    width="50" />
  <img
    ngSrc="../../../../assets/footer/travel.svg"
    alt="Travel logo alternative"
    height="50"
    width="50" />
  <img
    ngSrc="../../../../assets/footer/home.svg"
    alt="Home logo"
    height="50"
    width="50" />
  <img
    ngSrc="../../../../assets/footer/plan.svg"
    alt="Plan logo"
    height="48"
    width="48" />
  <img
    ngSrc="../../../../assets/footer/profile.svg"
    alt="Profile logo"
    height="52"
    width="52" />
</footer>
