<footer
  class="flex flex-row justify-content-around bottom-0 fixed background-green w-full py-3">
  <img
    ngSrc="../../../../assets/footer/price.svg"
    alt="Price logo"
    height="45"
    width="45" />
  <img
    ngSrc="../../../../assets/footer/travel.svg"
    alt="Travel logo alternative"
    height="50"
    width="50" />
  <img
    ngSrc="../../../../assets/footer/home.svg"
    alt="Home logo"
    height="45"
    width="45" />
  <img
    ngSrc="../../../../assets/footer/plan.svg"
    alt="Plan logo"
    height="47"
    width="47" />
  <img
    ngSrc="../../../../assets/footer/profile.svg"
    alt="Profile logo"
    height="49"
    width="49" />
</footer>
