@if (isOpen$ | async) {
  <div class="w-13 bottom-0 fixed price-modal green-modal">
    <hr class="modal-hr my-0" (click)="closeModal()" />

    <div class="flex flex-row mt-2 gap-2">
      <img
        ngSrc="assets/travel/institut.png"
        width="160"
        height="135"
        alt="Institut" />

      <div class="flex flex-column gap-1 text-xs">
        <span class="font-semibold text-base">Musée des Lumières</span>
        <span class="">
          25 rue du Premier - Film BP 8051 69352 - Lyon Cedex 08
        </span>
        <div><span class="font-semibold">Téléphone : </span>04 78 78 18 95</div>
        <div>
          <span class="font-semibold">Tarifs : </span>
          <span>9€</span>
        </div>
        <div>
          <span class="font-semibold">Horaires d'ouverture :</span><br />
          <span>Du mardi au dimanche de 10h à 18h</span>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-content-between mt-2 text-sm">
      <span class="font-semibold">1 933 avis, 4.2/5</span>
      <div class="text-green underline" (click)="onClickInformation()">
        Voir plus d'informations
      </div>
    </div>
  </div>
}
