<div
  class="flex flex-column align-items-center py-4 sticky top-0 background-green">
  <div
    class="w-full flex flex-column justify-content-center align-items-center mt-4">
    <div class="text-white text-center text-xl">
      Explorez les environ et<br />
      Consultez la communauté !
    </div>
    <form [formGroup]="travelForm" class="w-11 mt-3">
      <green-input
        [placeholder]="'Cherchez un lieu...'"
        [icon]="'pi pi-search'"
        [isSubmitted]="true"
        [formControl]="search"
        [formControlName]="'search'"></green-input>
    </form>
  </div>
</div>

<div
  class="overflow-hidden flex flex-column align-items-center h-full"
  (click)="onClickMap()">
  <img
    class="object-fill h-full w-full absolute top-0 z-neg-1"
    ngSrc="assets/travel/google-map.png"
    alt="Google map"
    width="370"
    height="800" />
</div>

<app-travel-details></app-travel-details>
