@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

html {
    margin: 0;
    height: 100%
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: BentonSansCondE, sans-serif;
}

.letter-spacing {
    letter-spacing: 1px;
}

.background-green {
    background-color: #447B5D;
}

.p-progress-spinner-circle {
    stroke: #ffffff !important;
}