@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

html {
    margin: 0;
    height: 100%
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.background-green {
    background-color: #447B5D;
}
