<div class="flex flex-column align-items-center py-5 background-green">
  <img
    class="mt-4"
    ngSrc="assets/lonely-planet/lonely-planet.svg"
    alt="Lonely Planet logo"
    height="45"
    width="321" />
  <div
    class="w-full flex flex-column justify-content-center align-items-center mt-7">
    <div class="text-white text-2xl">Votre voyage commence ici !</div>
    <form [formGroup]="searchForm" class="w-11 mt-3">
      <green-input
        [placeholder]="'Où voulez-vous aller ?'"
        [icon]="'pi pi-search'"
        [isSubmitted]="true"
        [formControl]="name"
        [formControlName]="'name'"></green-input>
    </form>
  </div>
</div>
